@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root[data-theme="light"] {
  --text: #191a19;
  --background: #ddddc9;
  --primary: #525544;
  --secondary: #b8bba5;
  --accent: #7e845c;
  --card-color: #b4b4a0;
}
:root[data-theme="dark"] {
  --text: #e6e7e6;
  --background: #0d0d0b;
  --primary: #b8bbab;
  --secondary: #565943;
  --accent: #9ea47c;
  --card-color: #1e1e17;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --cell-size: 150px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: var(--background);
}

h1.game-title {
  font-size: 5em;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, var(--accent), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  border: 2px solid var(--primary);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: var(--accent);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: var(--accent);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: var(--background);
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
  color: var(--primary);
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 2rem;
  font-weight: 600;
  background-color: var(--accent);
  margin: 0.5em 0em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  border-radius: 15px;
}

.winning-message button:hover {
  background-color: var(--secondary);
  color: var(--text);
}

.winning-message.show {
  display: flex;
}
